<%= form_for([@topic.project, @topic, @comment]) do |f| %>
    <div id="comment-submit" class="">
      <h2>Reply to this Topic:</h2>
      <div id="" class="">
        <!-- <%= f.label :body %> -->
        <%= f.text_area :body %>
      </div><!-- / -->
      <%= f.submit :"Send Reply" %>
    </div><!-- / -->
<% end %>
