  <% if @task.audits.count > 2 %>

<!--     <div class="centered"><span class="boldstuff">Recent Changes</span><a href="javascript:void(0);" class="show_hide_wikichanges">Show/Hide</a></div>
    
    <div class="slidingDiv_wikichanges">  -->
<div class ="boldstuff centered">
Recent Progress<br>
</div>
<!-- <div style ="max-height:1330px; overflow:scroll;"> --> 
  <table id ="orgtable" style="border:1px #ddd dashed;">
  	<tr class="boldstuff">
    	<td>
  		What was completed?
  	</td>
  	<td>
  		How much time used?</td>
      <td>
      When was this updated?</td>

  	</tr>

	  <% @task.audits.each do |audit| %>
    <%if audit.tag %>
	  <tr>
<!-- 	  	<% if audit.user_id %>
		  	<% hey = User.find_by_id(audit.user_id) %>
		  <td>	<%# hey.email %> </td>
	  	<% end %> -->
  	<td><%= audit.tag %> </td>
    <td><%= englishtime(audit.modifications['time'])%></td>
    <td><%= distance_of_time_in_words_to_now(audit.updated_at) << " ago." %> </td>
    
    </tr>
    </div>
  	<% end %>

  <% end %>
  <% end %>
</table>  
<!--   -->
<!-- </div> -->
