<br>
<input type="button" id="today" class="buttonstyle" style="background:indianred;" value="Today" >
<input type="button" id="week" class="buttonstyle" style="background:indianred;" value="Week">
<br><br>
<div id ="taskview">
<h2 id="init">Welcome to the Tasks Page.</h2>
<h3>Select a timeframe above to generate your tasks list.</h3>
</div>


