<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  	<p>
  		<img src ="http://www.wupcdn.com/wupassets/wup-mailer.png">
  	</p>
     <!-- <h1>A <%= @type.downcase %> you are subscribed to has been updated.</h1> -->
    <h2>The topic "<%= @subjecttitle %>" has a new update.</h2>
    <p>
      Click the following link to read the update: <%= @resource_link %> 
    </p>
    <br />
    <hr />
    <p style="font-size:8pt;">You are receiving this email because you have an active project with Wind Up Pixel and you are subscribed to this topic. </p>  
    <p style="font-size:8pt;">You can adjust your subscriptions in the subscription management page at <%= link_to "http://collaborator.winduppixel.com/subscriptions", "http://collaborator.winduppixel.com/subscriptions", :target => "_blank" %></p>
 
  </body>
</html>