 <div class="boldstuff">Bug Report:<a href="javascript:void(0);" class="show_hide_topicreport">Show/Hide</a></div>
      <div class="slidingDiv_topicreport">
       <div class="boldstuff"> Where Bug Probably Occurred:</div> <%=link_to @topic.report_lastpage, @topic.report_lastpage, :target => "_blank" %>
    <div class="boldstuff">The User's System:</div> <%= @topic.report_environment %><br><br>
	</div>