
<%= link_to topic.title, project_topic_path(@project, topic) %> 


<ul class="topic-list">
	<%if topic.created_at  > 2.day.ago %>
		<% if topic.topiccomplete || topic.hoursused || topic.topiccomplete %>
			<div class="boldstuff indent">
				Updates
			</div>
		<% end %>
		<span class="topicunder indent"> New Topic! <br></span>
	<% end%>

	<% @commentcount = 0 %>

	<% topic.comments.each do |comment| %>

		<% if comment.created_at > 2.day.ago %>
			<% @commentcount += 1 %>
		<% end %>
	<% end %>

	<% if @commentcount > 0 %>
		<span class="topicunder indent"><%= @commentcount %> new comments!</span><br>
	<% elsif @commentcount == 0 && topic.created_at < 2.day.ago %>
		<div class="boldstuff indent">
				No recent updates.
			</div>
	<% end %>

	<% if (can? :manage, :all) %><br>
		<span class="boldstuff indent">
		Progress<br></span>
		<% if topic.topiccomplete == true %>
			<span class="topicunder indentagain"> Topic complete.<br></span>
		<% end%>

		<% if topic.hoursused == 0 %>
		<span class="topicover indentagain"> Topic not started yet.<br> </span>
		<% end %>

		<% if topic.overage.to_i > 0 %>
		<span class="topicover indentagain"> <%= topic.overage %> work hours over. <br>
		</span>
		<% end%>

		<% if topic.overage.to_i <0 %>
		<span class="topicunder indentagain"> <%= topic.overage.abs %> work hours remaining. <br></span>
		<% end%>
			
		<% end %>
</ul>
