<div id="helper">
	<h2>Attaching files to Topics</h2>
<p>Some helper text will live here</p>
</div>
<h1>Attach Files </h1>

<%= render 'attach' %>
<br>
<%= link_to 'Back', project_topic_path(@project, @topic) %>
