<div id="helper">
	<h2>Tracking time on Topics</h2>
<p>Any admin or worker can come to this page and make edits to a Topic's information. We ask anyone doing work to come here and track their time spent working on a Topic. For now, time tracking is manual but eventually, we'll add a better time tracking mechanism.</p>
<p>This is not meant to micromanage you but to help WUP keep track of how long every task takes so later we can price things out more fairly -- for both clients and workers. </p>
</div>
<h1>Topic Editor </h1>

<%= render 'form' %>

<%= link_to 'Back', project_path(@project) %>
