<% add_nav_link(link_to truncate("#{@topic.title}", :length => 20), project_topic_path(@project, @topic)) %>
<% add_nav_link(link_to truncate("#{@project.name}", :length => 20), project_path(@project)) %>
<div id="helper">
	<h2>Editing Topics</h2>
<p>Any admin or worker can come to this page and make edits to a Topic's information. Make an estimate here in 'Hours Required' of how long you think it will take to complete this and your task times will be summed and compared to those estimates.</p>
<p>Time tracking is not meant to micromanage you but to help WUP keep track of how long every task takes so later we can price things out more fairly -- for both clients and workers. </p>
</div>
<h1>Topic Editor </h1>

<%= render 'editform' %>

<%= link_to 'Back', project_topic_path(@project, @topic) %>
