<div id="helper">
	<h2>Learn about Topics</h2>
<p>Submitting a Topic is the first step to starting a conversation with us. They can be about basically anything you might want to tell us about your project or have us work on.</p>
<p><span class="boldstuff">Have a new feature idea?</span><br/> Submit a Topic by giving a brief description of your idea and anything you can about how you came up with it.</p>
<p><span class="boldstuff">Experiencing difficulties with your project?</span><br/>You can submit Topics about this too. Just start by telling us the issue and how you found it.</p>
</div>

<h2>Submit a new Topic:</h2>

<%= render 'form' %> 
