<b>Issue list: </b>
<ul>
	<% @project.issues.each do |k,issue| %> 
		<li>
			<%= link_to issue.title, project_issue_path(@project.id, issue.number) %> 
			(Labels: <% issue.labels.each do |label| %> <%= label.name %> <% end %> )
		</li>
	<% end %>
</ul>