<div id="project-topics" class="">

		<span class="topics-heading">Topics Being Worked On: </span>
	<ul>
		<% @project.topics.each do |topic| %> 
			<li>
				<%= link_to topic.title, project_topic_path(@project.id, topic.number) %> 
				<ul class="topic-list">
					<% topic.labels.each do |label| %> <li style="background-color: <%= "#" + label.color %>" ><%= label.name %> </li><% end %>
				</ul>
			</li>
			<% end %>
	</ul>
</div><!-- /project-topics -->
