<div id="project-topics" class="">

		<span class="topics-heading">Topics Being Worked On: </span>
	<ul>
		<%= @project.topics.each do |topic| %> 
			<li>
				<%= link_to topic.title, project_topic_path(@project, topic) %> 
				<ul class="topic-list">
			
				</ul>
			</li>
		<% end %>
	</ul>
</div><!-- /project-topics -->
