<% add_nav_link(link_to truncate("#{@project.name}", :length => 20), project_path(@project)) %>
<h1>Editing <%= @project.name %>  </h1>

<%= render 'form' %>

<%= link_to @project.name + ' Overview', @project %> |
<%= link_to 'Back To Home', projects_path %>
