  <% if @wiki.audits.count > 1 %>

    <div class="centered"><span class="boldstuff">Recent Changes</span><a href="javascript:void(0);" class="show_hide_wikichanges">Show/Hide</a></div>
    
    <div class="slidingDiv_wikichanges"> 
  <table id ="orgtable">
  	<tr class="boldstuff">
  	<td>
      Audit ID Number:
    </td>
    	<td>
  		Who edited this?
  	</td>
  	<td>
  		What was changed? </td>
      <td>
      When was it updated?</td>

  	</tr>
	  <% @wiki.audits.reverse.first(10).each do |audit| %>
    <%if audit.tag %>
	  <tr>
      <td><%= link_to audit.id, audit_wiki_path([@wiki, audit.id]) %></td>
	  	<% if audit.user_id %>
		  	<% hey = User.find_by_id(audit.user_id) %>
		  <td>	<%= hey.email %> </td>
	  	<% end %>
  	<td><%= audit.tag %> </td>
    <td><%= distance_of_time_in_words_to_now(audit.updated_at) << " ago." %> </td>
    
    </tr>
    
  	<% end %>

  <% end %>
  <% end %>
</table>  
</div>
