<% if @wiki.postcategory != "" && Wiki.find_all_by_postcategory(@wiki.postcategory).count >1  %>
<div id ="wikicatbox"> <span class="boldstuff">
	Part of a series of articles on <span style="text-decoration:underline;"><%= link_to @wiki.postcategory.humanize.titlecase, "/wikis/cate/"<<@wiki.postcategory %></span>.<br></span>
			<% cat = Wiki.find_all_by_postcategory(@wiki.postcategory) %>
			<ul>
			<% cat.each do |cateach| %>
			
			<li class="catsplit"><%= link_to cateach.title, cateach %></li>
			 <% end %>
			</ul>
		<% end %>
	</div>