
<table class="wikipost" >
	 <h2>Knowledge Article Archives</h2>
	 <tr class="boldstuff">
	 	<td>
	 	Article Title
	 	</td>
	 	<td>
	 		
	 	</td>
	 </tr>

<% @wikiarchive.each do |wiki| %>
  <tr>
    <td><%= link_to wiki.title, wiki %></h3></td><td class="adminlink"><%= link_to 'Edit Article', edit_wiki_path(wiki) %></td>
</tr>
<% end %>
</table>
  <div class="comment_pagination">
    <div class="page_info">
      <%= page_entries_info @wikiarchive, :model => 'article' %>
    </div>
    <div class="pagelinks">
    <%= will_paginate @wikiarchive, :container => false %>
  </div>
  </div>