<table class="wikipost" >
<h2>Knowledge Categories</h2>
	 <tr class="boldstuff">
	 	<td>
	 	Category Title
	 	</td>
	 	<td>
	 		
	 	</td>
	 </tr>
<% @catearchive.catealpha.each do |slug| %>
  <tr>
    <td><%= link_to slug.postcategory.humanize.titlecase, "/wikis/cate/" << slug.postcategory %></td>
</tr>

<% end %>

</table>

  <div class="comment_pagination">
    <div class="page_info">
      <%= page_entries_info @catearchive, :model => 'category' %>
    </div>
    <div class="pagelinks">
    <%= will_paginate @catearchive, :container => false %>
  </div>
  </div>



	 