<% add_nav_link(link_to "My Profile", edit_user_registration_path(@user)) %>
<h2>Subscriptions</h2>

<!-- <%# form_for(current_user, :as => :user, :url => registration_path(:user)) do |f| %>

 <div><%# f.label :topicemail, "Want to receive emails when new Topics are posted?" %> <br />
        <%# radio_button(:user, :topicmail, true) %>
<%# label_tag(:emailyes, "Yes") %>
<%# radio_button(:user, :topicmail, false ) %>
<%# label_tag(:emailno, "No") %><br /></div><br>

  <div><%# f.label :current_password, "Current Password:" %> <i>(We need your current password to confirm your changes)</i><br />
  <%# f.password_field :current_password %></div>

<%#f.submit %> -->
<% #end %>

<% if (can? :manage, :all) %> 
<h3> 
  The following Topics have been subscribed to:
</h3><br>
<% else %>
<h3>
  You're currently subscribed to the following Topics:
</h3><br><!-- / -->
<% end %>

<div id="" class="">
  <% if @subscriptions.empty?  %>
    <b>You have no subscriptions</b>
  <% else %>
        <table id ="orgtable">
      	<tr class="boldstuff" style="border-bottom:1px #ccc dashed;">
  	<td>
			Project Name
		</td>
		<td>
			Topic Name
		</td>
  <% if can? :manage, :all %>  
    <td>
      Follower
    </td>
  <% end %>
    <td>
      Action
    </td>
	</tr>
    <% for subscription in @subscriptions do %>

      <%= render subscription %> 

    <% end %>
    </table>
  <% end %> 
</div><!-- / -->
