a {
	text-decoration: none;
}

#main a {
	color: #00AAEA;
}



.session-flash {
	border: 1px solid #CCC;
	padding: 5px;
	margin: 5px 0px;
	width: 25%;
	background: #DDD;
	border-radius: 25px;
}

#session-alert {
	color: indianRed;
	text-align: center;
	position: relative;
	width: 180px;
	margin-top: -22px;
	margin-left:-4px;
}

#session-top-box{
	background-color: #353535;
	height: 25px;
	position: fixed;
	z-index: 9999;
	margin-top: -40px;
	width: 100%;
	box-shadow: 0px 2px 20px #CCC;
	margin-left: -8px;
}


#session-logo {
	margin-top: 40px;
	margin-left: 20px;
	margin-bottom: -104px;
	width: 121px;
	img {
		height: 71px;
	}
}

#session-wup-name {
	position: absolute;
	margin-left: 104px;
	z-index: 2;
	font-size: 35px;
	padding-bottom: 5px;
	color: #7B7B7B;
	font-weight: bold;
	font-family: Helvetica, sans-serif;
	margin-bottom: -8px;
	margin-top: 25px;
}

#session-content {
	margin-left: 14%;
	background: #EEE;
	border: 1px dashed #AAA;
	text-shadow: 0.1em 0.1em white;
	box-shadow: 4px 4px 15px #CCC inset;
	font-size: 13px;
	line-height: 1.7em;
	color: #333;
	margin-top: 113px;
	padding: 5px 10px 5px 10px;
	display: table;
	width: 62%;

	h2{
		font-size: 20px;
		font-weight: bold;
		padding: 15px 0px;
	}
}

#session-content-wrap {
	padding-left: 12%;
/*	padding-right: 30px;*/
	min-height: 397px;
	min-width: 750px;
	/*width: 85%;*/ 	
}

#session-splash{
	width:329px;
}

#session-form {
	margin-left: 422px;
	border: 1px #CCC solid;
	border-radius: 25px;
	padding-left: 15px;
	width: 197px;
	padding-bottom: 21px;
	margin-top: -317px;
	background: #DDD;
	position: relative;

	input[type="email"], input[type="password"] {
		width: 169px;
	}
}

.useractions, .buttonstyle, input[type="submit"], input[type="button"] {

    background: linear-gradient(bottom, rgb(224,224,224) 100%, rgb(121,167,179) 49%);
	background: -o-linear-gradient(bottom, rgb(224,224,224) 100%, rgb(121,167,179) 49%);
	background: -moz-linear-gradient(top, rgb(224,224,224) 10%, rgb(121,167,179) 100%);
	background: -webkit-linear-gradient(bottom, rgb(224,224,224) 100%, rgb(121,167,179) 49%);
	background: -ms-linear-gradient(bottom, rgb(224,224,224) 100%, rgb(121,167,179) 49%);

	background: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(1, rgb(224,224,224)),
	  color-stop(0.49, rgb(121,167,179))
	);
	color:white !important;
	text-shadow: 1px 1px black;
	font-size:11pt; 
	border-radius:8px;
	border:2px #ccc solid;
	padding:1% 8px 8px 8px;
	}

.benefit-box{
	border: 1px solid #CCC;
	padding-top: 14px;
	padding-left: 10px;
	padding-bottom: 3px;
	border-radius: 21px;
	background: #AAA;
	box-shadow: 3px 2px 13px #CCC;
	width: 334px;
	color: white;
	text-shadow: 1px 1px 1px black;	
}

.benefit {
	margin-left: 64px;
	margin-top: -41px;
}