::selection, ::-moz-selection {
  background: #ccc;
  color: #000;
}

* {
margin: 0;
}

html, body {
  font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
}

// html {
//  overflow: auto;
// }

a, a:visited, a:active {
  text-decoration:none;
  color:white;
}

a:hover {
  color: #00aaea;
  text-decoration:none;
}

p {
  margin: 10px 0;
}
/*
// #wrap {
//  min-height: 100%;
//  height: auto !important;
//  height: 100%;
//  margin: 0 auto -15px; /* Footer fix height 
*/

.centered {
  text-align:center;
}

.boldstuff{
  font-weight:bold;
}

#wrap, footer {
  min-width: 1020px;
}

#wrap {
/*  margin-left: 60px;
border-left: 2px solid #353535;
  border-right: 2px solid #353535; */
}
#top-box {
  background-color: #353535;
  height: 25px;
  position: fixed;
  z-index: 9999;
  margin-top: -43px;
  width: 100%;
  box-shadow: 0px 2px 20px #CCC;
  padding-top: 8px;

  a.current {
    color:#9ECFF0;
  }

  a.current:hover {
    color:#00aaea;
  }
}

#wup-name {
position: absolute;
margin-left: 80px;
z-index: 2;
font-size: 18px;
padding-bottom: 5px;
color: #7B7B7B;
font-weight: bold;
font-family: Helvetica, sans-serif;
margin-bottom: -8px;
margin-top: 22px;
}

#wup-name a, .web-strategy a{
  color:#7b7b7b;
}

nav {
position: absolute;
float: left;
margin-left: -168px;
margin-top: 61px;
z-index: 999

}

#above-nav-wrap {
width: 900px;
position: absolute;
margin: 0px auto 0 auto;
}




#appslist {
  padding-left: 21px;
  display: inline-block;
  z-index: 9999;

  ul li{
    border-left:2px solid #bbb;
    list-style-type: none;
    display: inline;
    padding-left:10px;
    padding-right:10px;
  }

  ul li:first-child{
    border:none;
  }

}



.nav-ul {
  font-family: Helvetica, sans-serif;
  text-align: left;
  padding-left: 465px;
}


.nav-ul li {
  font-size: 15px;
  display: inline-block;
  padding: 8px 10px;
  margin-top: 20px;
  a {
    color:#7B7B7B;
  }
  
}
.nav-ul li:first-child{
  border:none;
}
.nav-ul li:hover, .nav-ul .active a {

  text-decoration: none;
}

nav a:hover {
    opacity:.8;
  text-decoration: none;
}

.web-strategy {
position: absolute;
left: -7px;
background: white;
height: 36px;
font-size: 10pt;
margin-top: 82px;
padding-left: 89px;
padding-right: 10px;
color: #7B7B7B;
font-weight: bold;
font-family: Helvetica, sans-serif;
padding-top: 1px;
z-index: -1;
width: 241px;
line-height: 30px;
}

#logo{
margin-top: 43px;
margin-left: 20px;
margin-bottom: -104px;
width: 121px;
}

#main {
position: relative;
// width: 938px;
// margin: 41px auto 0 212px;
// min-height: 400px;
}

#page-image {
  position: absolute;
  left: 0px;
  top: 40px;
  width: 410px;
  text-align: center;
}

.wikipost {
  width:80%;
  margin-left:6%;

}

#wikicatbox {
  display: block;
  border: 1px dashed #ccc; 
  text-align:center;
  padding:5px;

  ul{
  margin-left:-20px;
  }
}

#wiki_body {
  width: 49%;
  float: left;
  height: 497px;
}

.wiki_preview{
  width: 48%;
  float: right;
  margin-top: 1px;
  background: #DDD;
  border: 1px dashed #BBB;
  height: 500px;
  overflow: scroll;
}



.catsplit {
  list-style-type:none;
  display:inline;
padding-left:3px;
  white-space:nowrap;
  /*border-left: 1px solid #ccc;*/
}

.catsplit:after{
  color:#ccc;
  content: "  | ";

}


.catsplit:last-child:after{
  content:none;
}
/*.catsplit:first-child{
  border:none;
}*/

#content {
  margin-left: 225px;
  background: #eee;
  border:1px dashed #aaa;
  text-shadow: 0.1em 0.1em #fff;
  box-shadow: 4px 4px 15px #ccc inset;
  font-size: 13px;
  line-height: 1.7em;
  color: #333;
  // padding: 0 10px 10px 10px;
   margin-top: 113px;
  // float: left;
  // margin-left: 381px;

  padding: 5px 10px 5px 10px;
  display:table;
  width:62%;

  h1 {
    font-size: 25px;
    margin: 20px 0px;
  }

#splash {
margin-left: 240px;
margin-top: -243px;
width: 300px;
height: 173px;
}

#helper{
margin-left: 365px;
width: 300px;
height: 173px;
margin-top:55px;
position: absolute;
}
}

#content-wrap {
  padding-left: 12%;
  padding-right:8%;
  min-height: 397px;
  width:85%;
}


#content h3{
  font-size:16px;
  font-weight: bold;
}
.main a{
color: #00aaea;
}

#main a, #main a:visited, #main a:active {
  
  text-decoration: none;
}
#main a:hover {
  /*text-decoration: underline;*/
}

.adminlink a{
  color:indianred;
}

.project-admin a, .project-admin span a{
  color:indianred;


}

#content ul {
  padding-left: 20px;
}
#content ul li {
  margin-top: 4px;
}
#content h2 {
  font-size: 20px;
  font-weight: bold;
  padding: 15px 0px;
}


.services { 
font-weight: bold;
text-decoration: underline;
  }

.project {
  /*background: rgba(255, 255, 255, 0.6);*/
  /*margin: 10px 5px 10px 0px;*/
  padding: 10px;
  font-size: 20px;
float:left; 
  width: 25%;

  .project-updated, .project-admin {
    font-size: 0.6em;
    margin-top: 5px;
  }
  .project-admin {
    background: rgba(255,255,255,0.3);
    box-shadow: 4px 4px 10px #ccc;
    padding: 5px;
    border: 1px solid #ddd;
    min-height:100px;
  }
}


#user-nav {
  color:#ccc;
  float: right;
  display: inline-block;
  margin-right:40px;
}

ul.topic-list {
 /* display: inline;*/
  
  li {
    font-size: 0.7em;
    border-radius: 4px;
    padding: 0px 3px;
    /*display: inline-block;*/
    margin:  0px;
    list-style-type: none;
  }
}

.topics-ul>li {
  width: 20%;
  border: 1px #ccc solid;
  padding:10px;
  float:left; 
  list-style-type: none;
  min-height: 120px;
  margin:8px;
  background: rgba(255,255,255,0.3);
  box-shadow: 4px 4px 10px #ccc;
  text-align: center;
}
.indent {
  margin-left:20px;
}
.indentagain {
  margin-left:20px;
}



#topics-list{
  padding-bottom:12px;
  margin-top: 45px;

  

  ul li a{
    
  }
}

#topics1, #topics2, #topics3 {
  display: table;
  position: relative;
  margin-top:30px;
}
#barholder{
  margin-left: 20px;
}

#bar{
  width: 145px;
height: 10px;
position: relative;
border: 1px #999 solid;
background-color:#ccc;
top:4px
}
#barfill {
display: inline-block;
background-color: #78BFF7;
position: absolute;
height: 10px;
border-right:1px #bbb solid;
}
#percenttext{
  font-weight:bold;
  margin-top: 20px;
  margin-left: 10px;
  position: absolute;
}

.topicunder{
  color:forestgreen;
}

.topicover{
  color:crimson;
}


#project-desc, #topic-desc { 
  padding-left: 20px;
}

code {
  background: #fff;
  border: 1px solid #ccc;
  padding: 0px 2px;
}
#comments{
  border: 1px solid #ccc;
  margin: 10px 0px;
  width: 100%;


  h2 {
    background: rgba(255,255,255,0.8);
    padding: 4px;
    margin: 0px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid #ccc;
    position: relative;
    font-size:16px;

    .comment-date {
      position: absolute;
      right: 5px;
      bottom: 5px;
      color: #555;
    }
    .comment-user {
      display: inline-block;
      max-width: 300px;
      padding-left: 5px;
    }
    img {
      width: 48px;
      height: 48px;
    }
  }
  .comment-body {
    padding: 3px;
    padding-left:30px;
  }
}

#topic { 
  border-left: 5px solid #CCC;
  padding-left: 5px;

  h2 {
    margin-top: 0px;
    padding-top: 0px;
  }
}

.flash {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px 0px;
}
#alert {
  color: #ff4444;
}

.beta {
  position: absolute;
  top: 109px;
  left: 402px;
  z-index: 900;
  width: 50px;
  height: 50px;
}

#errorExplanation h2 {
padding: 4px 0 2px 0;
}

#errorExplanation ul {
color: red;
padding-bottom: 15px;
}

.field_with_errors {
color: red;
display: inline;
}

#retainer-hours {
  margin-left:20px;
}

#projects{
  width: 100%;
}

#project-heading, .topics-heading, #retainer-heading{
  font-weight:bold;
  font-size:15px;
}
  .topics-heading {
    margin-top:-40px;
  }


#taskview {
  img {
    margin-top:15%;
    margin-left:30%;
  }
}

.active {

    background: linear-gradient(bottom, rgb(224,224,224) 100%, rgb(105,105,105) 49%)!important;
background: -o-linear-gradient(bottom, rgb(224,224,224) 100%, rgb(105,105,105) 49%)!important;
background: -moz-linear-gradient(top, rgb(224,224,224) 10%, rgb(105,105,105) 100%)!important;
background: -webkit-linear-gradient(bottom, rgb(224,224,224) 100%, rgb(105,105,105) 49%)!important;
background: -ms-linear-gradient(bottom, rgb(224,224,224) 100%, rgb(105,105,105) 49%)!important;

background: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(1, rgb(224,224,224)),
  color-stop(0.49, rgb(105,105,105))
) !important;
}

#retainer-heading, #retainer-hours {
  margin-bottom:7px ;
}

#next-steps{
  float: left;
  margin-top: 170px;
  position:absolute;
  border-right:1px solid #ccc;
  padding: 20px 20px 20px 18px;
  width: 140px;
  margin-bottom:100px;
  color: #111;
  line-height: 17px;

  text-shadow:1px 1px #ddd;
  z-index: 999;
  box-shadow: 2px 2px 7px #666;
  
  background: linear-gradient(bottom, rgb(255,255,255) 100%, rgb(168,163,168) 49%, rgb(255,255,255) 0%);
  background: -o-linear-gradient(bottom, rgb(255,255,255) 100%, rgb(168,163,168) 49%, rgb(255,255,255) 0%);
  background: -moz-linear-gradient(bottom,  rgb(255,255,255) 1%,   rgb(168,163,168)49%,  rgb(255,255,255) 100%);
  background: -webkit-linear-gradient(bottom, rgb(255,255,255) 100%, rgb(168,163,168) 49%, rgb(255,255,255) 0%);
  background: -ms-linear-gradient(bottom, rgb(255,255,255) 100%, rgb(168,163,168) 49%, rgb(255,255,255) 0%);
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(1, rgb(255,255,255)),
    color-stop(0.49, rgb(168,163,168)),
    color-stop(0, rgb(255,255,255))
  );

  a {
    vertical-align:middle;
    display:block;
    width: 80px;
    min-height: 40px;
    text-align: center;
    margin-left: 20px;
    padding: 10% 8px  8px 8px;
    border: 1px solid #666;
    border-radius: 8px;
    text-shadow: 1px 1px black;
    font-size: 15px;
    margin-bottom: 11px;

  }

  a:hover {
    color:white !important;
    opacity:.8;
  }
  h3{
    text-align: center;
    font-size: 16pt;
  }

  #shower{
    margin-left:161px;
    -webkit-border-top-right-radius: 38px;
    -webkit-border-bottom-right-radius: 38px;
    -moz-border-radius-topright: 38px;
    -moz-border-radius-bottomright: 38px;
    border-top-right-radius: 38px;
    border-bottom-right-radius: 38px;
    color:black;
    min-height: 0px;
    margin-top: -8px;
    padding: 5px;
    width: 15px;
    background:#ccc;
    z-index: 9;
    box-shadow: 2px 2px 7px #666 inset;
    position: absolute;
    
  }
  #shower:hover{
    color:black !important;
  }


  #startstopbutton {
    margin-top: 10px;
    margin-left: -7px;
    width: 158px;
    position: relative;
  }

  #clock {
    /*position: absolute;*/
    margin-left:-6px;
    margin-top:-340px;
    text-align: center; 
    width:149px;
  }

  #changetagbox {
    margin-top: 10px;
    position: relative;
    text-align: center;
  }

  #update {
    position: relative;
    top: 10px;
    left: -8px;
    width: 158px;
    margin-bottom: 13px;
  }
}

.useractions, .buttonstyle, input[type="submit"], input[type="button"] {

    background: linear-gradient(bottom, rgb(224,224,224) 100%, rgb(121,167,179) 49%);
background: -o-linear-gradient(bottom, rgb(224,224,224) 100%, rgb(121,167,179) 49%);
background: -moz-linear-gradient(top, rgb(224,224,224) 10%, rgb(121,167,179) 100%);
background: -webkit-linear-gradient(bottom, rgb(224,224,224) 100%, rgb(121,167,179) 49%);
background: -ms-linear-gradient(bottom, rgb(224,224,224) 100%, rgb(121,167,179) 49%);

background: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(1, rgb(224,224,224)),
  color-stop(0.49, rgb(121,167,179))
);
color:white !important;
text-shadow: 1px 1px black;
font-size:11pt; 
border-radius:8px;
padding:1% 8px 8px 8px;
}



    input[type="submit"]:hover,input[type="button"], .buttonstyle:hover {
      opacity:.8;
      text-decoration: none;
     }


.adminactions {
background: linear-gradient(bottom, rgb(224,224,224) 100%, rgb(171,109,115) 50%);
background: -o-linear-gradient(bottom, rgb(224,224,224) 100%, rgb(171,109,115) 50%);
background: -moz-linear-gradient(top, rgb(224,224,224) 10%, rgb(171,109,115) 100%);
background: -webkit-linear-gradient(bottom, rgb(224,224,224) 100%, rgb(171,109,115) 50%);
background: -ms-linear-gradient(bottom, rgb(224,224,224) 100%, rgb(171,109,115) 50%);

background: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(1, rgb(224,224,224)),
  color-stop(0.5, rgb(171,109,115))
);
}
.disable {
  background:grey;
}

.disable:hover {
  opacity: 1;
}

#project-list-heading{
  font-size:20px;
  padding: 15px 0 15px 0;
  font-weight:bold;

}

.form-spacer{
  margin-bottom:15px;
  text-transform:capitalize;
}

#github_topic_title{
  width:288px;
}

#user-list{
  display:inline-block; 
  max-width:200px;
}

.label-form{
  margin: 15px 0 15px 0;
}

.retainer-form{
  margin: 0 0 10px 0;
}

.checkbox-scroll {
  width: 250px;
  overflow: auto;
  height: 200px;
  padding: 0px 15px;
  border: 1px solid 
  #333;

  .checkbox-group {

  }
}
 .checkbox-scroll.tags {
    height: 150px;
  }
  .checkbox-scroll.users {

  }



     #bill {
      margin-left:50px;
     }

  #orgtable td, #settingstable td{
    padding:0 15px 0 15px;
  }

#settingstable a, #orgtable a{
  color:indianred;
}


#orgtable #blue a{
  color:#00aaea;
}


#comment-submit {

  textarea {
    width:99%;
    height:150px;
  }
  input[type="submit"] {
    margin-left:5px;
  }
}

.comment_pagination {
  background: rgba(255, 255, 255, 0.8);
  cursor: default;
  text-shadow:none;
  font-size: 15px;
     border-top:1px dashed #ccc;
      }
  .comment_pagination a, .comment_pagination span, .comment_pagination em {
    padding: 0.2em 0.5em;
    display: inline;
    text-align: center;
    margin-right: 1px;
}
.comment_pagination .pagelinks {
  text-align: center;
  margin-bottom: 10px;
}

.comment_pagination a{
  color: black !important;
    /*font-weight: bold;*/
    background: #78BFF7;
    width: 180px;
    text-align: center;
    padding: 4px;
    border: 1px solid #666;
    border-radius: 8px;
    text-shadow: none;
    font-size: 15px;
    /*box-shadow: 2px 2px 7px #666;*/
    margin:15px 0 20px 0;
}

  .comment_pagination .disabled {
   /* color: #999999;
    border: 1px solid #dddddd; */
     background: #ccc;
    width: 180px;
    text-align: center;
    padding: 4px;
    border: 1px solid #666;
    border-radius: 8px;
    text-shadow: none;
    font-size: 15px;
    /*box-shadow: 2px 2px 7px #666;*/
    margin:15px 0 20px 0;}
  .comment_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
   /*background: #78BFF7;*/
    color: white;
    border: 1px solid #2e6ab1; 
      width: 180px;
    text-align: center;
    padding: 4px;
    border: 1px solid #666;
    border-radius: 8px;
    text-shadow: none;
    font-size: 15px;
    /*box-shadow: 2px 2px 7px #666;*/
    margin:15px 0 20px 0;
  }
  .comment_pagination a {
    text-decoration: none;
/*    color: #105cb6;
    border: 1px solid #9aafe5;*/ }
    .comment_pagination a:hover, .comment_pagination a:focus {
      text-decoration: underline; }
  .comment_pagination .page_info {
      color: black;
      padding: 0.4em 0.6em;
      /*width: 537px;*/
      margin-bottom: 0.3em;
      text-align: center; 
      font-size:13px;
      }
    .comment_pagination .page_info b {
      color: black;
      background: #CCC;
      padding: 0.1em 0.25em;
      border-radius: 8px; 
    border: 1px solid #666;}
  .comment_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .comment_pagination {
    height: 1%; }
  *:first-child + html .comment_pagination {
    overflow: hidden; }


.show_hide_complete, .show_hide_awaiting, .show_hide_working, .show_hide_topicreport, .show_hide_wikichanges {
    display:inline-block;
    /*padding-bottom: 10px;*/
/*      color: black !important;
    background: #78BFF7;
    width: 80px;
    text-align: center;
    border: 1px solid #666;
    border-radius: 8px;
    text-shadow: none;*/
    font-size: 10px;
    /*box-shadow: 2px 2px 7px #666;*/
    margin:10px 0 5px 20px;
    font-weight: normal;
    }
    .show_hide_complete:hover, .show_hide_awaiting:hover, .show_hide_working:hover, .show_hide_topicreport:hover {
      text-decoration:underline;
     }
#commenthead{
background: rgba(255, 255, 255, 0.8);
cursor: default;
text-shadow: none;
font-size: 15px;
border-bottom: 1px dashed #CCC;
}

.taglabel {
    width: 80px;
    text-align: center;
    border: 1px solid #666;
    border-radius: 8px;
    text-shadow: none;
    font-size: 10px;
    /*margin:0 0 0 10px;*/
    font-weight: normal;
    padding: 2px;
}

.newtopictag {
        background: forestGreen;
        color:white;
}

.bugtag {
  background: purple;
  color:white;
}

.questiontag {
  background:yellow;
  color:black;
}

.featuretag {
  background:aquamarine;
  color:black;
}

.plannedtag {
  background:grey;
  color:white;
}
