::selection, ::-moz-selection {
  background: #ccc;
  color: #000;
}
* {
margin: 0;
}

html, body {
  height: 100%;
  font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
}

// html {
//  overflow: auto;
// }

a, a:visited, a:active {
  color: #fff;
  text-decoration:none;
}

a:hover {
  color: #00aaea;
  text-decoration:none;
}

p {
  margin: 10px 0;
}
/*
// #wrap {
//  min-height: 100%;
//  height: auto !important;
//  height: 100%;
//  margin: 0 auto -15px; /* Footer fix height 
*/

.boldstuff{
  font-weight:bold;
}

#wrap, footer {
  min-width: 1020px;
}

#wrap {
/*  margin-left: 60px;
border-left: 2px solid #353535;
  border-right: 2px solid #353535; */
}
#top-box {
  background-color: #353535;
  height: 30px;
}

#wup-name {
  position: relative;
margin-left: 156px;
z-index: 2;
font-size: 68px;
padding-bottom: 5px;
color: #7B7B7B;
font-weight: bold;
font-family: Helvetica, sans-serif;
margin-bottom: -8px;
margin-top: -95px;
}

#wup-name a, .web-strategy a{
  color:#7b7b7b;
}

nav {
height: 34px;
background-color: #353535;
color: white;
margin-top: 0;
z-index: 1;

}

#above-nav-wrap {
width: 900px;
position: absolute;
margin: 0px auto 0 auto;
}

/* #nav-wrap {
  width: 1150px;
  margin: 0px auto;
  position: relative;
} 

*/
nav {
  position:relative;
}

#nav-wrap {
  width: 1020px;
  position: relative;
  text-transform: capitalize;
  text-align: right;
}


.nav-ul {
  font-family: Helvetica, sans-serif;
  text-align: left;
  padding-left: 465px;
}


.nav-ul li {
  font-size: 28px;
  display: inline-block;
  padding: 2px 10px;

}
.nav-ul li:hover, .nav-ul .active a {
  color: #00aaea;
  text-shadow: 0px 0px 10px #353535;
  text-decoration: none;
}

nav a:hover {
  text-decoration: none;
}

.web-strategy {
position: absolute;
left: -7px;
background: white;
height: 36px;
font-size: 20.6pt;
margin-top: 0;
padding-left: 170px;
padding-right: 10px;
color: #7B7B7B;
font-weight: bold;
font-family: Helvetica, sans-serif;
padding-top: 1px;
z-index: 0;
width: 241px;
line-height: 30px;
}

#logo{
  margin-top: 100px;
    margin-left: -130px;
    margin-bottom: -104px;
    width:121px;
}

#main {
position: relative;
// width: 938px;
// margin: 41px auto 0 212px;
// min-height: 400px;
}

#page-image {
  position: absolute;
  left: 0px;
  top: 40px;
  width: 410px;
  text-align: center;
}


#content {
  // width: 445px;
  margin-left: 414px;

  text-shadow: 0.1em 0.1em #fff;
  font-size: 13px;
  line-height: 1.7em;
  color: #333;
  // padding: 0 10px 10px 10px;
  // margin-top: -13px;
  // float: left;
  // margin-left: 381px;
  background: #EEE;
  padding: 5px 10px 5px 10px;
  min-height: 400px;

  h1 {
    font-size: 25px;
    margin: 20px 0px;
  }

#splash {
margin-left: 240px;
margin-top: -271px;
width: 300px;
height: 173px;
}

#helper{
margin-left: 365px;
width: 300px;
height: 173px;
top:35px;
position: absolute;
}

}
#content-wrap {
  width: 550px;
  padding-left: 55px;
}


#content h3{
  font-size:16px;
  font-weight: bold;
}
.main a{
color: #00aaea;
}

#main a, #main a:visited, #main a:active {
  
  text-decoration: none;
}
#main a:hover {
  text-decoration: underline;
}

.project-admin span a{
  color:indianred;

}

#content ul {
  padding-left: 20px;
}
#content ul li {
  margin-top: 4px;
}
#content h2 {
  font-size: 20px;
  font-weight: bold;
  padding: 15px 0px;
}
footer {
  color: #fff;
  background-color: #353535;
  font-size: 13px;
  // box-shadow: 0px 10px 10px 4px #ddd;
  box-shadow: 0px 10px 16px 5px #ccc;
  // position: fixed;
}

footer div {
  width: 1020px;
  padding: 4px 10px 7px;
  // margin: 0px auto;
  text-align: center;
}

footer .first {
  float: left;
}
footer .middle {
  margin-left: -30px;
}
footer .last {
  float:right;
}


.services { 
font-weight: bold;
text-decoration: underline;
  }

.project {
  background: rgba(255, 255, 255, 0.6);
  margin: 10px 5px 10px 0px;
  padding: 10px;
  font-size: 20px;

  .project-updated, .project-admin {
    font-size: 0.6em;
    margin-top: 5px;
  }
  .project-admin {
    background: rgba(255,255,255,0.8);
    padding: 5px;
    border: 1px solid #ddd;
  }
}
#user-nav {
  border-bottom: 1px dashed #ccc;
  text-align: left;
  margin-left:  -65px;
  padding-left:  65px;
}

ul.topic-list {
  display: inline;
  
  li {
    font-size: 0.7em;
    border-radius: 4px;
    padding: 0px 3px;
    display: inline-block;
    margin:  0px;
    list-style-type: none;
  }
}
.topics-ul>li {
  border: 1px #ccc solid;
  padding:10px;
  list-style-type: none;
}
.indent {
  margin-left:20px;
}
.indentagain {
  margin-left:20px;
}


#topics-list{
  padding-bottom:12px;

  ul li a{
    
  }
}
#barholder{
  margin-left: 20px;
}

#bar{
  width: 145px;
height: 10px;
position: relative;
border: 1px #999 solid;
background-color:#ccc;
top:4px
}
#barfill {
display: inline-block;
background-color: #78BFF7;
position: absolute;
height: 10px;
border-right:1px #bbb solid;
}
#percenttext{
  font-weight:bold;
  margin-top: 20px;
  margin-left: 10px;
  position: absolute;
}

.topicunder{
  color:forestgreen;
}

.topicover{
  color:crimson;
}

#project-desc, #topic-desc { 
  padding-left: 20px;
}

code {
  background: #fff;
  border: 1px solid #ccc;
  padding: 0px 2px;
}
#comments{
  border: 1px solid #ccc;
  margin: 10px 0px;
  width: 555px;


  h2 {
    background: rgba(255,255,255,0.8);
    padding: 4px;
    margin: 0px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid #ccc;
    position: relative;
    font-size:16px;

    .comment-date {
      position: absolute;
      right: 5px;
      bottom: 5px;
      color: #555;
    }
    .comment-user {
      display: inline-block;
      max-width: 300px;
      padding-left: 5px;
    }
    img {
      width: 48px;
      height: 48px;
    }
  }
  .comment-body {
    padding: 3px;
    padding-left:30px;
  }
}

#topic { 
  border-left: 5px solid #CCC;
  padding-left: 5px;

  h2 {
    margin-top: 0px;
    padding-top: 0px;
  }
}

.flash {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px 0px;
}
#alert {
  color: #ff4444;
}

.beta {
  position: absolute;
  top: 100px;
  left: 402px;
  z-index: 900;
  width: 50px;
  height: 50px;
}

#errorExplanation h2 {
padding: 4px 0 2px 0;
}

#errorExplanation ul {
color: red;
padding-bottom: 15px;
}

.field_with_errors {
color: red;
display: inline;
}

#retainer-hours {
  margin-left:20px;
}

#project-heading, .topics-heading, #retainer-heading{
  font-weight:bold;
  font-size:15px;
}

#retainer-heading, #retainer-hours {
  margin-bottom:7px ;
}

#next-steps{
  border: 1px dashed #ccc;
  position: absolute;
  top: 80px;
  left: 174px;
  min-height:121px;
  width:200px;
  text-align:center;
  padding:20px;
  background:#eee;
  border-right-width:0;
  box-shadow: -5px 0px 5px #ddd inset;

  a {
  color: black !important;
  display:block;
  /*font-weight: bold;*/
  width: 180px;
  text-align: center;
  padding: 4px;
  border: 1px solid #666;
  border-radius: 8px;
  text-shadow: none;
  font-size: 15px;
  /*box-shadow: 2px 2px 7px #666;*/
  margin-bottom: 11px;
  }
  h4{
    font-weight:bold;
  }
}

.useractions {
    background: #78BFF7;
}

.adminactions {
  background:indianred;
}

 .subscribe {
  a{
    color: black !important;
  }
    /*font-weight: bold;*/
    background: #78BFF7;
    width: 180px;
    text-align: center;
    padding: 4px;
    border: 1px solid #666;
    border-radius: 8px;
    text-shadow: none;
    font-size: 15px;
    /*box-shadow: 2px 2px 7px #666;*/
    margin:15px 0 20px 0;
    }
    .subscribe:hover {
      text-decoration:underline;
     }

#project-list-heading{
  font-size:25px;
  padding: 15px 0 15px 0;
}

.form-spacer{
  margin-bottom:15px;
  text-transform:capitalize;
}

#github_topic_title{
  width:288px;
}

#user-list{
  display:inline-block; 
  max-width:200px;
}

.label-form{
  margin: 15px 0 15px 0;
}

.retainer-form{
  margin: 0 0 10px 0;
}

.checkbox-scroll {
  width: 250px;
  overflow: auto;
  height: 200px;
  padding: 0px 15px;
  border: 1px solid 
  #333;

  .checkbox-group {

  }
}
 .checkbox-scroll.tags {
    height: 150px;
  }
  .checkbox-scroll.users {

  }

    input[type="submit"]{
    color: black !important;
    /*font-weight: bold;*/
    background: #78BFF7;
    width: 180px;
    text-align: center;
    padding: 4px;
    border: 1px solid #666;
    border-radius: 8px;
    text-shadow: none;
    font-size: 15px;
    /*box-shadow: 2px 2px 7px #666;*/
    margin:15px 0 20px 0;
    }
    input[type="submit"]:hover {
      text-decoration:underline;
     }

  #orgtable td, #settingstable td{
    padding:0 15px 0 15px;
  }

#settingstable a, #orgtable a{
  color:indianred;
}

#comment-submit {

  textarea {
    width:549px;
    height:150px;
  }
  input[type="submit"] {
    margin-left:5px;
  }
}

.comment_pagination {
  background: rgba(255, 255, 255, 0.8);
  cursor: default;
  text-shadow:none;
  font-size: 15px;
     border-top:1px dashed #ccc;
      }
  .comment_pagination a, .comment_pagination span, .comment_pagination em {
    padding: 0.2em 0.5em;
    display: inline;
    text-align: center;
    margin-right: 1px;
}
.comment_pagination .pagelinks {
  text-align: center;
  margin-bottom: 10px;
}

.comment_pagination a{
  color: black !important;
    /*font-weight: bold;*/
    background: #78BFF7;
    width: 180px;
    text-align: center;
    padding: 4px;
    border: 1px solid #666;
    border-radius: 8px;
    text-shadow: none;
    font-size: 15px;
    /*box-shadow: 2px 2px 7px #666;*/
    margin:15px 0 20px 0;
}

  .comment_pagination .disabled {
   /* color: #999999;
    border: 1px solid #dddddd; */
     background: #ccc;
    width: 180px;
    text-align: center;
    padding: 4px;
    border: 1px solid #666;
    border-radius: 8px;
    text-shadow: none;
    font-size: 15px;
    /*box-shadow: 2px 2px 7px #666;*/
    margin:15px 0 20px 0;}
  .comment_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
   /*background: #78BFF7;*/
    color: white;
    border: 1px solid #2e6ab1; 
      width: 180px;
    text-align: center;
    padding: 4px;
    border: 1px solid #666;
    border-radius: 8px;
    text-shadow: none;
    font-size: 15px;
    /*box-shadow: 2px 2px 7px #666;*/
    margin:15px 0 20px 0;
  }
  .comment_pagination a {
    text-decoration: none;
/*    color: #105cb6;
    border: 1px solid #9aafe5;*/ }
    .comment_pagination a:hover, .comment_pagination a:focus {
      text-decoration: underline; }
  .comment_pagination .page_info {
      color: black;
      padding: 0.4em 0.6em;
      width: 537px;
      margin-bottom: 0.3em;
      text-align: center; 
      font-size:13px;
      }
    .comment_pagination .page_info b {
      color: black;
      background: #CCC;
      padding: 0.1em 0.25em;
      border-radius: 8px; 
    border: 1px solid #666;}
  .comment_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .comment_pagination {
    height: 1%; }
  *:first-child + html .comment_pagination {
    overflow: hidden; }


.show_hide_complete, .show_hide_awaiting, .show_hide_working {
    display:inline-block;
    /*padding-bottom: 10px;*/
/*      color: black !important;
    background: #78BFF7;
    width: 80px;
    text-align: center;
    border: 1px solid #666;
    border-radius: 8px;
    text-shadow: none;*/
    font-size: 10px;
    /*box-shadow: 2px 2px 7px #666;*/
    margin:10px 0 5px 20px;
    font-weight: normal;
    }
    .show_hide_complete:hover, .show_hide_awaiting:hover, .show_hide_working:hover {
      text-decoration:underline;
     }
#commenthead{
background: rgba(255, 255, 255, 0.8);
cursor: default;
text-shadow: none;
font-size: 15px;
border-bottom: 1px dashed #CCC;
}

.taglabel {
    width: 80px;
    text-align: center;
    border: 1px solid #666;
    border-radius: 8px;
    text-shadow: none;
    font-size: 10px;
    margin:0 0 0 10px;
    font-weight: normal;
    padding: 2px;
}

.newtopictag {
        background: forestGreen;
        color:white;
}

.bugtag {
  background: purple;
  color:white;
}

.questiontag {
  background:yellow;
  color:black;
}

.featuretag {
  background:aquamarine;
  color:black;
}

.plannedtag {
  background:grey;
  color:white;
}
