<% add_nav_link(link_to "Organizations", organizations_path) %>
<% add_nav_link(link_to "My Profile", edit_user_registration_path(@user)) %>
<h1>Editing organization</h1>

<%= render 'form' %>

<%= link_to 'Show', @organization %> |
<%= link_to 'Back', organizations_path %>
