<p><img src="http://wupcdn.com/wupassets/wup-mailer.png" alt="Wind Up Pixel Collaborator"></p>
<p>Hey, <%= @resource.email %>!</p>

<p>Someone has requested a link to reset your Wind Up Pixel Collaborator password, and you can do this through the link below.</p>

<p><%= link_to 'Click me to reset your password!', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If you didn't request this, simply ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

<p>Thanks!</p>
<p>--The team at Wind Up Pixel.</p>
